html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-decoration: none;
}
* {
  text-decoration: none;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
p,
select,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  color: #ff8000;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #256874;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;

  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.content .main {
  flex: 4 80rem;
}
.content .sidebar {
  flex: 1 20rem;
}

/* products*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin: 3rem 1rem;
  list-style-type: none;
}

.product {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  /* justify-content: center; */
  /* align-items: center; */
}
.product__main {
  width: 100%;
  /* margin: 0 2rem; */
}
.product__main p {
  color: #614c5f;
  text-align: center;
  margin: 1rem;
}
.product__main img {
  max-width: 30rem;
  max-height: 37rem;
}
.product__extra {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
  align-items: center;
}

.product__extra button {
  margin-left: 10rem;
  padding: 1rem 2rem;
  background-color: #8878cc;
  border-radius: 10px;
  border: none;
  outline: none;
}
.product__extra p {
  margin: 0;
  padding: 1rem 2rem;
  background-color: #8878cc;
  border-radius: 10px;
}
